.header_gr_text {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.header_gr_text h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}